# Netlify -> Site configuration -> Environment variables
NEXT_PUBLIC_SUPABASE_URL=https://zsnqeaajnbrnnahdunof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_ALLOW_PLACEHOLDER=false
